@charset "utf-8";
/* CSS Document */
/* General */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
}
body {
	font-family: "calluna-sans", sans-serif;
	display: flex;
	flex-direction: column;
}
main {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 132px;
	padding: 132px 0;
}
/* Estilos */ :root {
	--naranja: #ED6E1C;
	--negro: #000;
}
h1 {
	font-size: 5.61rem;
	font-family: "Neulis-Cursive", sans-serif;
	font-weight: 700;
}
h2 {
	font-size: 4.209rem;
	font-family: "Neulis-Cursive", sans-serif;
	color: var(--naranja);
	font-weight: 500;
	letter-spacing: 1px;
}
h3 {
	font-size: 3.157rem;
	font-family: "Neulis-Sans", sans-serif;
	font-weight: 500;
}
h4 {
	font-size: 2.369rem;
	font-family: "Neulis-Sans", sans-serif;
	font-weight: 500;
}
h5 {
	font-size: 1.777rem;
}
h6 {
	font-size: 1.333rem;
}
p {
	font-size: 1rem;
}
/* Header */
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 48px;
}
header nav {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	width: 100%;
	max-width: 1392px;
	padding: 33px 0 0;
}
header nav ul {
	display: flex;
	justify-content: space-between;
	flex: 1.37;
	align-items: center;
	gap: 24px;
}
header nav a {
	font-size: 1.333rem;
	font-family: "Neulis-Sans", san-serif;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: var(--naranja);
	white-space: nowrap;
	border-radius: 33px;
	padding: 0.7rem 1.85rem;
}
header nav a:hover {
	border: 2px solid var(--naranja);
	margin: -2px;
}
.logo-nav {
	flex: 1;
}
.logo-nav img {
	border-radius: 30px;
}
/* Footer */
footer {
	display: flex;
	justify-content: center;
	background: var(--naranja);
	padding: 48px;
	color: #fff;
}
.footer-container {
	display: flex;
	width: 100%;
	max-width: 1392px;
	gap: 48px;
}
.footer-info {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 24px;
}
.footer-info img {
	border-radius: 30px;
}
.site-map {
	display: flex;
	flex: 1.37;
}
.site-map nav {
	display: flex;
	width: 100%;
}
.site-map nav ul {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	width: 100%;
	white-space: nowrap;
}
.site-map a {
	color: #ffffff;
	font-family: "Neulis-Sans", san-serif;
	font-weight: 500;
	letter-spacing: 0.9px;
}
/* INDEX HEADER */
.index-header {
	background: var(--naranja);
	color: #fff;
	height: 100vh;
	display: flex;
	flex: 0 0 auto;
}
.index-header nav a {
	color: #fff;
}
.index-header nav a:hover {
	border: 2px solid #fff;
	margin: -2px;
}
.titulo {
    	flex: 1;
    	display: flex;
    	justify-content: center;
    	flex-direction: row;
    	width: 100%;
    	gap: 24px;
    	align-items: center;
}
.elemento-vacio {
    flex: 1;
    min-width: 5px;
}
.contenido {
    flex: 1.3;
}
.nombre h1 {
	font-size: 7.75rem;
	font-family: "Neulis-Cursive", sans-serif;
	font-weight: 700;
	max-width: 482px;
}
.puesto p {
	font-size: 1.777rem;
	font-family: "Neulis-Sans", sans-serif;
	margin: 66px 0 0 8px;
}
/* INDEX MAIN */
.presentacion {
	padding: 132px 0px 66px 0px;
	width: 100%;
	max-width: 1392px;
	font-family: "Neulis-Cursive", sans-serif;
	color: var(--naranja);
}
.presentacion h1 {
	font-weight: 500;
}
.slider-tags {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: hidden;
	color: #fff;
	gap: 24px;
}
.slider-linea-1 {
	display: flex;
	gap: 12px;
	margin-left: -48px;
}
.slider-linea-2 {
	display: flex;
	gap: 12px;
	margin-left: -680px;
}
.tag {
	display: flex;
	align-items: center;
	background: var(--naranja);
	border-radius: 33px;
	padding: 0.7rem 1.85rem;
	white-space: nowrap;
}
.index-proyectos {
	margin-top: 132px;
	width: 100%;
	max-width: 1392px;
}
.proyectos-contenido {
	display: flex;
	gap: 48px;
	margin-top: 132px;
	justify-content: space-between;
}
.index-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 36px;
	line-height: 1.4rem;
}
.index-info a {
	font-size: 1.333rem;
	letter-spacing: 0.5px;
	color: var(--naranja);
	border-radius: 33px;
	padding: 0.7rem 1.85rem;
	border: 2px solid var(--naranja);
	font-family: "Neulis-Sans", sans-serif;
	font-weight: 500;
}
.index-galeria {
	flex: 2.2;
	display: flex;
	flex-wrap: wrap;
	gap: 46px;
	justify-content: flex-end
}
.index-galeria img {
	border-radius: 30px;
}
.charlemos {
	display: flex;
	flex-direction: column;
	gap: 60px;
	width: 100%;
	max-width: 1392px;
	color: var(--naranja);
	margin: 132px 0;
}
.charlemos a {
	font-size: 5.61rem;
	font-family: "Neulis-Cursive", sans-serif;
	text-decoration: underline;
	text-underline-offset: 16px;
	font-weight: 500;
	color: var(--naranja);
}
